<div class="footer">
    <div style="margin-bottom: 3px;">
        <b>Giao diện:</b> 
        <a href="javascript:void(0)" onclick="setTheme('default')">Mặc Định</a> | 
        <a href="javascript:void(0)" onclick="setTheme('blue')">Xanh Dương</a> | 
        <a href="javascript:void(0)" onclick="setTheme('red')">Đỏ</a> | 
        <a href="javascript:void(0)" onclick="setTheme('dark')">Tối</a>
    </div>
    <div style="color: #666; font-size: 9px;">
        © 2026 HDV179 WAP - Kho Game & Ứng dụng Java Mobile
    </div>
</div>